.container {
  max-width: 160px;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.title {
  font-size: 18px;
  margin-bottom: 8px;
}

.skillItem {
  text-align: center;
  font-size: 14px;
  background-color: #ffb703;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 3px;
}
