.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-bottom: 32px;
  margin-bottom: 36px;
  border-bottom: 1px solid grey;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoMoka {
  width: 26px;
  height: 26px;
  padding-right: 6px;
  padding-left: 1px;
}

.logoGojek {
  width: 30px;
  height: 30px;
  padding-right: 3px;
}

.mainTitle {
  font-size: 26px;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.titleContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.projectTitle {
  font-size: 17px;
  padding: 4px 10px;
  margin: 8px 0;
  font-weight: 400;

  background-color: #8ecae6;
  border-radius: 4px;
}

.tags {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  margin: 8px 0;
  background-color: #fdb197;
  border-radius: 4px;
  flex-wrap: wrap;
}

.projectLink {
  display: flex;
  gap: 6px;
  align-items: flex-end;
  margin-top: 10px;
  color: #013047;
  opacity: 0.6;
  position: relative;
  z-index: 0;
}

.projectAbout {
  margin-bottom: 12px;
}

.imagesContainer {
  display: flex;

  gap: 4px;
  width: 100%;
  overflow: scroll;
  margin-bottom: 6px;
}

.image {
  display: block;
  object-fit: cover;
  max-width: 360px;
  max-height: 240px;
  border-radius: 4px;
  width: auto;
  height: auto;
}

.smallImage {
  composes: image;
  max-width: 250px;
  max-height: 220px;
}

.caption {
  font-size: 13px;
  font-style: italic;
  width: calc(100% - 24px);
}
