.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid grey;
}

.mainTitle {
  font-size: 26px;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.titleContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.projectTitle {
  font-size: 17px;
  padding: 4px 10px;
  margin: 8px 0;

  background-color: #8ecae6;
  border-radius: 4px;
}

.tags {
  font-size: 14px;
  padding: 4px 8px;
  margin: 8px 0;
  background-color: #fdb197;
  border-radius: 4px;
  flex-wrap: wrap;
}

.projectLink {
  display: flex;
  gap: 6px;
  align-items: flex-end;
  margin-top: 10px;
  color: #013047;
  opacity: 0.6;
}

.projectAbout {
  margin-bottom: 20px;
}

.image {
  width: 450px;
  border-radius: 4px;
}
