.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  min-width: 240px;
  overflow: auto;
  margin: 0px 16px;
}

.dropdownContainer {
  margin-bottom: 12px;
}

.menu {
  background-color: #219ebc;
  border-radius: 4px;
  padding: 6px;
  color: white;
}

.menu:hover {
  cursor: pointer;
  background-color: #20829b;
}

a {
  text-decoration: none;
}

.submenuContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 8px;
  margin-left: 8px;

  max-width: 240px;
}

.submenu:hover {
  color: #219ebc;
  cursor: pointer;
}
