.pageContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  position: sticky;
  position: -webkit-sticky;
  top: 24px;
}

.mobilePageContainer {
  padding-bottom: 20px;
  margin-left: 8vw;
}
