.pageContainer {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 40px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  position: sticky;
  position: -webkit-sticky;
  top: 28px;
}

.techlistContainer {
  /* max-width: 160px;
  margin: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0; */
}
